<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
<title>WebCron</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="plugins/jquery-ui/jquery.ui.1.10.2.ie.css"/><![endif]-->
<link href="/css/main.css" rel="stylesheet" type="text/css"/>
<link href="/css/plugins.css" rel="stylesheet" type="text/css"/>
<link href="/css/responsive.css" rel="stylesheet" type="text/css"/>
<link href="/css/icons.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="/css/fontawesome/font-awesome.min.css">
<!--[if IE 7]><link rel="stylesheet" href="/css/fontawesome/font-awesome-ie7.min.css"><![endif]--><!--[if IE 8]><link href="/css/ie8.css" rel="stylesheet" type="text/css"/><![endif]-->
<script type="text/javascript" src="/js/libs/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js">
</script><script type="text/javascript" src="/js/bootstrap.min.js">
</script><script type="text/javascript" src="/js/libs/lodash.compat.min.js">
</script><!--[if lt IE 9]><script src="/js/libs/html5shiv.js"></script><![endif]-->
<script type="text/javascript" src="/plugins/touchpunch/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="/plugins/event.swipe/jquery.event.move.js"></script>
<script type="text/javascript" src="/plugins/event.swipe/jquery.event.swipe.js"></script>
<script type="text/javascript" src="/js/libs/breakpoints.js"></script>
<script type="text/javascript" src="/plugins/respond/respond.min.js"></script>
<script type="text/javascript" src="/plugins/cookie/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="/plugins/slimscroll/jquery.slimscroll.horizontal.min.js"></script>
<script type="text/javascript" src="/plugins/sparkline/jquery.sparkline.min.js"></script>
<script type="text/javascript" src="/plugins/daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="/plugins/daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="/plugins/blockui/jquery.blockUI.min.js"></script>
<script type="text/javascript" src="/plugins/uniform/jquery.uniform.min.js"></script>
<script type="text/javascript" src="/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/plugins/datatables/tabletools/TableTools.min.js"></script>
<script type="text/javascript" src="/plugins/datatables/colvis/ColVis.min.js"></script>
<script type="text/javascript" src="/plugins/datatables/columnfilter/jquery.dataTables.columnFilter.js"></script>
<script type="text/javascript" src="/plugins/datatables/DT_bootstrap.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/plugins.js"></script>
<script type="text/javascript" src="/js/plugins.form-components.js"></script>
<script>$(document).ready(function(){App.init();Plugins.init();FormComponents.init()});</script>
<script type="text/javascript" src="/js/custom.js"></script>
</head>