<!DOCTYPE html>
<html>

{% include 'base_head_validation.html' %}

<body>
      
{% include 'base_state.html' %}

<div id="container">
{% include 'base_sidebar.html' %}
  <div id="content">
	<div class="container">
		<div class="row">
            <div class="col-md-12">
              <h5 class="widget-title">
                <i class="icon-plus-sign-alt">
                </i>
                {{path}}
              </h5>
            </div>
		</div>
<!-- 用户 start-->		
          <div class="row">
            <div class="col-md-6">
              <div class="widget box">
                <div class="widget-header">
                  <h4>
                    <i class="icon-reorder">
                    </i>
                    添加节点
                  </h4>
                </div>
                <div class="widget-content">
                  <form class="form-horizontal row-border" id="validate-1" method="POST" action="/node/add">
                    <div class="form-group">
                      <label class="col-md-3 control-label">
                        节点IP
                        <span class="required">
                          *
                        </span>
                      </label>
                      <div class="col-md-9">
                        <input type="text" name="nodeip" class="form-control required">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-3 control-label">
                        节点用户名
                        <span class="required">
                          *
                        </span>
                      </label>
                      <div class="col-md-9">
                        <input type="text" name="nodename" class="form-control required">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-3 control-label">
                        节点密码
                        <span class="required">
                          *
                        </span>
                      </label>
                      <div class="col-md-9">
                        <input type="password" name="nodepass" class="form-control required" minlength="6">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-3 control-label">
                        节点连接端口
                        <span class="required">
                          *
                        </span>
                      </label>
                      <div class="col-md-9">
                        <input type="text" name="nodeport" class="form-control required">
                      </div>
                    </div>
                    <div class="form-actions">
                      <input type="submit" value="添加" class="btn btn-primary pull-right">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
<!-- 用户 end-->		  
	</div>
  </div>
</div>


</body>


</html>
