<!DOCTYPE html>
<html>

{% include 'base_head_tables.html' %}
<body>
      
{% include 'base_state.html' %}

<div id="container">
{% include 'base_sidebar.html' %}
  <div id="content">
	<div class="container">
		<div class="row">
            <div class="col-md-12">
              <h5 class="widget-title">
                <i class="icon-th-list" >
                </i>
                {{path}}
              </h5>
            </div>
		</div> 		
      <div class="row">
        <div class="col-md-12">
          <div class="widget box">
            <div class="widget-header">
              <h4><i class="icon-reorder"></i> CronTab 列表 (<code>{{tashNum}}条</code>)</h4>
              <div class="toolbar no-padding">
                    <div class="btn-group">
                      <span class="btn btn-xs" onclick="location.href='/task/addtask'">
                        <i class="icon-plus">
                        </i>
                        添加任务
                      </span>
                      <span class="btn btn-xs" onclick="location.href='/disp/distribute'">
                        <i class="icon-share">
                        </i>
                        发布任务
                      </span>
                      <span class="btn btn-xs" onclick="location.href='/task/taskxls'">
                        <i class=" icon-download">
                        </i>
                        下载Excel
                      </span>
                      <span class="btn btn-xs widget-collapse">
                        <i class="icon-angle-down">
                        </i>
                      </span>
                    </div>
              </div>
            </div>
            <div class="widget-content no-padding">
              <table class="table table-striped table-bordered table-hover table-checkable table-columnfilter  datatable" data-columnFilter='{"aoColumns": [null,{"type": "text"}, { "type": "text" }, { "type": "text" }, { "type": "text" }]}' data-columnFilter-select2="true">
                <thead>
                  <tr>
                    <th class="checkbox-column"><input type="checkbox" class="uniform"></th>				  
                    <th class="align-center">任务ID</th>
                    <th class="align-center">负责人/部门</th>
                    <th class="align-center">任务功能详细描述</th>
                    <th class="align-center">Cron表达式</th>
					<th class="align-center">操作</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
					<th></th>
                    <th>ID</th>
                    <th>负责人</th>
                    <th>功能描述</th>
                    <th>Cron表达式</th>
                  </tr>
                </tfoot>				
                <tbody>
				{%for task in hours%}
                  <tr>
                    <td ><input type="checkbox" class="uniform"></td>
                    <td >{{task.id}}</td>
					<td >{{task.personal}}</td>
                    <td >{{task.describe}}</td>
					<td >{{task.expression}}</td>
					<td class="align-center">
                          <span class="btn-group">
                            <a href="/task/checke/{{task.id}}/" class="btn btn-sm" title="操作">
                              <i class="icon-wrench">
                              </i>
                            </a>
                          </span>
                    </td>
                  </tr>
				{%endfor%}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
	</div> 
  </div>
</div>


</body>


</html>
